*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.aboutme-section{
    background:#eae0c8;
    min-height: 135vh;
    max-width:1470px;
}
.info-section{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top:150px;
    margin-bottom: 30px;
    
}
.info-section img{
    flex:50%;
    object-fit: contain;
    border-radius: 30px !important;
    height:450px;
    margin-left:45px;
    justify-self: center;
    display:block;
    margin-top: 50px;
    animation:Kashee 3s ease-in both ;
}
@keyframes Kashee{
    from{
        opacity:0%;
        width:0%;
    }
    to{
        opacity:100%;
        width:100%;
    }
}
.info-section .kashee-info{
    flex:50%;
    margin-right:100px;
    max-width:25rem;
    color:#696969;
    letter-spacing: 0.1em;
    font-family: 'Sansita Swashed',cursive;
    font-size:1.0rem;
    margin-top:80px;
    word-spacing: 0.2em;
    line-height: 1.5;
    animation: Kashee-mover 3s ease 450ms 1 alternate both;
}
@keyframes Kashee-mover {
    from {
        opacity: 0%;
        width: 0%;
    }

    to {
        opacity: 100%;
        width: 100%;
    }
}
.kashee-info span{
    color:#264348;
    text-transform: capitalize;
    text-shadow: 3px 2px 5px #696969;
    overflow: hidden;
    --webkit-backface-visibility: hidden;
    --webkit-perspective: 1000;
    --webkit-transform: translate3d(0, 0, 0);
    animation:showup 7s infinite;
}
/* .kashee-info:first-of-type span{
    width:0px;
    animation:reveal 3s infinite;
} */
.kashee-info:last-of-type span{
    margin-left:-355px;
    animation:slidein 3.5s infinite ease-in-out;
}
@keyframes showup{
    0%{opacity:0;}
    20%{opacity:1;}
    80%{opacity:1;}
    100%{opacity:0;}
}
@keyframes slidein{
    0%{margin-left:-200px;}
    20%{margin-left:-100px;}
    35%{margin-left:0px;}
    100%{margin-left: 0px;}
}
/* @keyframes reveal {
    0%{opacity:0;width:0px;}
    20%{opacity:1;width:0px;}
    30%{width:355px;}
    80%{opacity:1;}
    100%{opacity:0;width:355px; }
} */
@media screen and (max-width:800px){
    .info-section img .kashee-info {
        flex:100%;
    }
    .info-section img{
        display:block;
        border-radius: 20px;
        margin-left:2px;
        perspective: 1px;
    }
    .info-section .kashee-info{
        display: grid;
        place-items: center;
        grid-template-columns: 400px;
        max-width: 25rem;
        line-height: 1.5;
        letter-spacing: 0.1em;
        word-spacing: 0.2em;
        max-width: 25rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom:30px;
        margin-right:20px;
    }
       
}