*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.aboutme-section{
    background:#264348;
    min-height: 100vh;
    max-width:1170px;
    min-width:100vw;
    overflow-y: hidden;
    overflow-x: scroll;
}
.info-section{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top:150px;
    margin-bottom: 30px;
    
}
.aboutme-section::-webkit-scrollbar{
    display:none;
}
.info-section img{
    flex:50%;
    border-radius: 20px;
    object-fit: contain;
    height:450px;
    margin-left:45px;
    justify-self: center;
    display:block;
    margin-top: 50px;

}
.info-section .kashee-info{
    flex:50%;
    margin-right:100px;
    max-width:25rem;
    color:#dcdcdc;
    letter-spacing: 0.1em;
    font-family: 'Sansita Swashed',cursive;
    font-size:1.0rem;
    margin-top:80px;
    word-spacing: 0.2em;
    line-height: 1.5;
}
@media screen and (max-width:800px){
    .info-section img .kashee-info {
        flex:100%;
    }
    .info-section img{
        display:block;
        border-radius: 20px;
        margin-left:2px;
        perspective: 1px;
    }
    .info-section .kashee-info{
        display: block;
        max-width: 25rem;
        text-align: center;
        margin-right: 60px;
    }
       
}