.container{
    min-height:100vh;
    max-width:1800px;
    background: #f0f8ff;
}
.home-abt{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top:170px;
}
.karibu-info{
    max-width:15rem;
    margin-left:30px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    font-family: 'Comfortaa',cursive;
    color:#686868;
}
.karibu-info span{
    color:#008b8b;
    text-transform: uppercase;
}
.karibu-info span::after{
    content:'';
    width:24%;
    height:2px;
    margin-left:15px;
    margin-bottom:5px;
    display:block;
    background-color:#008b8b;
}

