.container{
    min-height:100vh;
    max-width:1800px;
    background: #f0f8ff;
}
.home-abt{
    display: flex;
    justify-content:center;
    padding-top:170px;
}
.reveal{
    padding:10px 20px;
    border-radius: 20px;
    box-shadow:5px 6px 5px  rgba(1,1,1,0.3);
    background: url(../images/reveal_1.jpg) center/cover no-repeat;
    object-fit: contain;
    border:transparent;

}
.home-abt p{
    color:aliceblue;
    font-weight: 900;
    font-size:medium;
}
.home-abt p span{
    transition: .5s linear;
    cursor:pointer;
    letter-spacing: 0.188em;
    line-height:1.5;
    font-family: 'Comfortaa', cursive;
}
p:hover span:nth-child(1){
    margin-right:5px;
}
p:hover span:nth-child(1)::before{
    content: "Hey beautiful people "
}
p:hover span:nth-child(1)::after{
    content: " to my creative space and enjoy your stay"
}




