*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
section{
    background: linear-gradient(to right,rgba(0,66,66,1),rgba(1,1,1,0.9));
}
.nav-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}
.nav-toggle {
    margin-right:30px;
    font-size: 1.8rem;
    color:#e0ffff;
    border: none;
    background: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.nav-toggle:hover {
    color: #b0e0e6;
    transform: rotate(360deg);
}
.logo{
    height:170px;
    object-fit: contain;
    margin-left:-30px;
}
.nav-list {
    height: 0;
    overflow: hidden;
}
.show-nav-list{
    height:10rem;
}
 li{
    cursor: pointer;
    display:block;
    padding:0.6rem 3rem;
    list-style-type: none;
    font-size:0.9rem;
    font-family:'Comfortaa',cursive;
    letter-spacing:0.1em;
    transition: all 0.3s linear;
}
@media screen and (min-width:800px) {
    .nav-sect {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        list-style: none;
    }
    .nav-header{
        padding:0;
    }
    .nav-toggle{
        display:none;
    }
    .nav-list{
        height:auto;
        display:flex;
        list-style: none;
    }
  .nav-list li{
        padding:0;
        margin:0 1.3rem;
        font-size:0.8rem;
  }

}
