@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root{
  --spacing:0.25rem;
  --radius:0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --transition: all 0.3s linear;
}
  a{
    text-decoration: none;
    color:#ffff;
  }
  li{
    list-style-type: none;
  }

  /* navbar */
  .container {
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("./images/image2.jpeg") center/cover no-repeat fixed; */
    /* width: 100%;
    height: 100vh; */
    position: relative;
    overflow: hidden;
  }

  .container::after {
    content: "";
    /* background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
    nav{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("./images/image2.jpeg") center/cover no-repeat fixed;
    padding:20px;
    display:flex;
    justify-content:space-between;
    color:#f5f5f5;
    position:relative;
    z-index:99;
  }
  /* .navbar-fixed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:cadetblue;
    z-index:2;
    box-shadow:var(--light-shadow);
  } */
  .menu-icon{
    display:none;
  }
  .faicon, 
  .faicon2{
    cursor: pointer;
    font-size:2rem;
  }
  .menu-icon .faicon2{
    transform:rotate(360deg);
    transition:all .2s ease-in-out;
  }
  .menu-icon .faicon {
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
  }
  .logo a{
    font-weight: 600;
    font-size:25px;
    color:darkcyan;
    letter-spacing:0.2rem;
    text-transform:uppercase;
    padding:5px 10px;
  }
  .menu-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-list li a{
    color:#f5f5f5;
    font-weight: 100;
    padding:5px 10px;
    margin-left:20px;
  }
  .menu-list li a:hover {
    color:darkcyan;
    --webkit-transition:var(--transition);
    transition:var(--transition)
  }

@media screen and (max-width:800px){
   .logo{
     font-size: 20px;
   }

   .menu-list li a{
     font-size:14px;
     margin-left:10px;
   }
}
@media screen and (max-width:600px) {
    .menu-icon{
      display:block;
    }
    .menu-list{
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("./images/image2.jpeg") center/cover no-repeat fixed;
      margin-top:0;
      flex-direction: column;
      position:absolute;
      width:100%;
      /* background:rgba(0, 0, 0, 0.7); */
      padding:20px;
      right:0;
      top:64px;
      transition:all 0.5s ease-in-out;
    }
    .menu-list li{
      margin-bottom:20px;
      width:100%;
      text-align:center;
    }
    .menu-list li a{
      width:100px;
      display: block;
      margin:auto;
    }
    .menu-list.close{
      right:-110%;
      transform:translate(0%, 20%);
      transition:all 0.5s ease-in-out;
    }
}
/* end of navbar */
   /*container  */
 .me-section{
  /* background:linear-gradient(360deg, #000,#66cdaa,#aaf0d1); */
   background:#f5f5f5;
   width:100vw;
   height:85vh;
   overflow: hidden;
 }
 .about-me{
   display:flex;
   justify-content:center;
   align-items: center;
   margin:50px;
   margin-top:300px;
 }
 .introduction::before{
   content:'';
   width:5px;
   height:100px;
   background:#48d1cc;
   display: block;
   margin: -10px;
   position: absolute;
 }
 .introduction h1{
   color:#0abab5;
   font-size:30px;
   text-transform: uppercase;
   font-family:monospace;
   position: relative;
   margin: auto;
 }
 .introduction p{
   color:hsl(210, 22%, 49%);
   font-weight:500;
   font-size:18px;
   position: relative;
 }
 .photo-section{
   display:none;
 }
 .introduction .hero-btn{
   text-transform: uppercase;
   background: #008b8b;
   color:#ffff;
   position: relative;
   letter-spacing: 0.2rem;
   padding:0.375rem 0.75rem;
   display:inline-block;
   font-weight:800;
   margin-top:20px;
   margin-left:50px;
   font-size: 20px;
   border:2px solid #b9f2ff;
   cursor:pointer;
   box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
   border-radius: 0.5rem;
   transition:all 0.3s linear;
  -webkit-transition: all 0.3s linear;
 }
 .hero-btn:hover::before,
 .hero-btn:focus::before{
   color:hsl(211, 39%, 23%);
   background: #80daeb;
 }
 
 @media screen and (min-width:992px){
   .about-me {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top:20px;
   }
   .introduction::before {
     content: '';
     width: 5px;
     height: 100px;
     background: darkcyan;
     display: block;
     margin: -10px;
     position: absolute;
   }

   .introduction h1 {
     color: darkcyan;
     font-size: 30px;
     font-weight:900;
     text-transform: uppercase;
     /* font-family￼: 'monospace'; */
     position: relative;
     margin: auto;
   }

   .introduction p {
     color: hsl(210, 22%, 49%);
     font-size: 18px;
     position: relative;
   }
  .introduction .hero-btn {
     text-transform: uppercase;
     background: #008b8b;
     color: #ffff;
     position: relative;
     letter-spacing: 0.2rem;
     padding: 0.375rem 0.75rem;
     display: inline-block;
     font-weight: 800;
     margin-top:20px;
     margin-left:50px;
     transition: all 0.3s linear;
     -webkit-transition: all 0.3s linear;
     font-size: 20px;
     border: 2px solid #b9f2ff;
     cursor:pointer;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
     border-radius: 0.5rem;
   }
   .hero-btn:hover::after,
   .hero-btn:focus::after{
     color: hsl(211, 39%, 23%);
     background: #80daeb;
   }
   .photo-section {
     display: block;
     position: relative;
   }
   .photo-section::before,
   .photo-me::before{
      content:'';
      position:absolute;
      width:100%;
      height:100%;
      border:0.25rem solid #48d1cc;
      top:2rem;
      right:-2rem;
      border-radius: var(--radius);
   }
   .me-image{
     max-width:25rem;
     max-height:30rem;
     -o-object-fit: cover;
     object-fit: cover;
     border-radius: var(--radius);
     position:relative;
   }
 }
 /* end of container page styling */

 /* about-me section styling */
 .part{
   background:hsl(45, 100%, 96%);
   margin-top: 50px;
   width:100vw;
   height:100vh;
   overflow:hidden;
 }
 .isall-about{
   display:flex;
   justify-content: flex-start;
   align-items: center;
   margin-left:80px;
 }
 .photo-me{
   justify-self: center;
 }

 @media screen and (min-width:992px){
      .photo-me{
        position:relative;
        display:block;
      }
      .photo-me::before{
        left:-2rem;
      }
 }

 /* end of about-me section styling */

